.chessboard { display: inline-block; border: 2px solid #333; }
.row { display: flex; }
.row div { width:50px; height:50px; display:flex; justify-content:center; align-items:center; cursor:pointer; }
.white { background-color:#f0d9b5; }
.black { background-color:#b58863; }
